* {
    margin: 0;
    padding: 0;
}
h1{
    font-family:  'Quicksand', sans-serif;
}
header{
  display: flex;
  padding: 50px;
}
header .subject{
    width:95%;
    letter-spacing: 5px;
    padding: 5px 0;
}

header .menu{
    width: 5%;
    text-align: right;
    padding: 5px 0;
}
ul {
    list-style-type: none;
}
ul li{
    font-size: 16px;
    padding: 2px;
    font-family:  'Quicksand', sans-serif;
}
header .subject h1{
    font-size: 50px;
}
main{
    padding: 0 50px;
}
#definition{
    display:flex;
}
.concept p {
    width:30%;
}
#definition img{
    width:40%;
}
.concept p{
    text-align: justify;
}
