* {
  margin: 0;
  padding: 0;
  font-family: "Noticia Text", serif;
}
main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(243, 217, 182, 0.973);
  width: 100%;
}
header {
  display: flex;
  color: white;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/146/1013/161/low-poly-orange-digital-art-shapes-wallpaper-preview.jpg");
  padding: 2rem;
  width: 100%;
}
header .subject {
  width: 90%;
  letter-spacing: 5px;
  margin: 2rem 0 1rem 0;
}

header .menu {
  width: 10%;
}
ul {
  list-style-type: none;
}
.menu ul li {
  font-size: 1rem;
  margin: 7px;
  text-align: right;
}
.menu ul li a {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: white;
}
.menu ul li a:hover {
  color: rgb(66, 71, 71);
}
header .subject h1 {
  font-size: 50px;
}
.section-wrapper{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width:100%;
  margin: 3rem 0;
}
.section-name-wrapper {
  width: 15%;
  box-sizing: border-box;
  margin: 0 1rem;
}
.section-concept-wrapper {
  width: 35%;
  box-sizing: border-box;
  padding: 0 1.5rem;
  margin: 0 1rem;
}
.section-img-wrapper {
  width: 40%;
  margin: 0 1rem;
}
.section-letters-wrapper{
  width: 35%;
  box-sizing: border-box;
  padding: 0 1.5rem;
  margin: 0 1rem;
  position: relative;
}
.section-name{
  width:85%;
  color: rgb(243, 109, 32);
  border: 0.12rem solid rgb(241, 182, 133);
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.1rem;
}
.section-concept{
  box-sizing: border-box;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}
.section-img img{
  object-fit: contain;
  height:40%;
  width:100%;
}
.section-letters {
  display: flex;
  font-size: 4rem;
  color: rgb(85, 82, 82);
  position:absolute;
  flex-wrap:wrap;
  left: 7.5rem;
}
p.even {
  background-color: white;
  margin: 2rem 1rem 1rem;
}
p.odd {
  background-color:  rgb(240, 167, 125);
}
p.concept-description{
  text-align: justify;
  font-size: 1rem;
  color: rgb(85, 82, 82);
}
.section-concept-wrapper-extra {
  width: 40%;
  margin: 0 1rem;
  box-sizing: border-box;
  padding: 0 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
}
.section-concept-extra {
  padding: 1rem;
}
p.concept-word{
  text-align: center;
  font-size: 1.3rem;
  color: rgb(85, 82, 82);
  padding-bottom: 0.5rem;
}

p.brief-argument {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(109, 107, 104);
}

